.content-instalace{
    .container-instalace{
        .gallery-instalace{
            margin: 0 auto;
            max-width: 1000px;
            margin-bottom: 50px;
            font-family: $montserrat;
            color: $fakeBlack;
            #lightgallery-instal{
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                .photo-container{
                    position: relative;
                    width: 100%;
                    max-width: 300px;
                    padding-top: 50px;
                    padding-right: 20px;
                    padding-left: 20px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .circle-photo{
                        width: 100%;
                        position: relative;
                        margin-bottom: 20px;
                        .photo{
                            img{
                                border-radius: 50%;
                            }
                            .photo-hover{
                                background-color: rgba(0, 0, 0, 0.0);
                                bottom: 0;
                                left: 0;
                                position: absolute;
                                right: 0;
                                top: 0;
                                transition: background-color 0.15s ease 0s;
                                .circle{
                                    height: 90px;
                                    width: 90px;
                                    background-color: white;
                                    border-radius: 180px;
                                    left: 50%;
                                    margin-left: -45px;
                                    margin-top: -45px;
                                    opacity: 0;
                                    position: absolute;
                                    top: 50%;
                                    transition: opacity 0.3s ease 0s;
                                    .lupa{
                                        display: block;
                                        left: 50%;
                                        margin-left: -15px;
                                        margin-top: -15px;
                                        opacity: 0;
                                        position: absolute;
                                        top: 50%;
                                        border-radius: 0px;
                                        transition: opacity 0.3s ease 0s;
                                    }
                                }
                            }
                            &:hover, &:active{
                                .photo-hover{
                                    background-color: rgba(255,255,255,0.3);
                                    .circle{
                                        opacity: 1;
                                        .lupa{
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .design-span{
                        margin-bottom: 15px;
                        padding: 10px 20px;
                        border-radius: 10px;
                        background-color: $green;
                        color: $white;
                        font-weight: 700;
                    }
                    .basic-span{
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}