.container-koupit{
    align-items: center;
    strong{
        font-size: 17px;
        line-height: 28px;
    }
    ul{
        font-size: 17px;
        line-height: 28px;
        list-style: circle;
        margin-top: 5px;
    }
}