$white: #ffffff;
$black: #000000;

//fonts
$montserrat: 'Montserrat', sans-serif;

//palette
$green: #3c8f6b;
$mango: #d8a420;
$fakeBlack: #333;
$doubleFakeBlack: #222222;
$footerBlack: #3c3c3c;
$gray: #999;

//hodnoty
$sirka: 1400px;