.realization{
    width: 100%;
    background-color: $white;
    padding: 130px 0;
    font-family: $montserrat;
    .container-realization{
        flex-direction: column;
        max-width: $sirka;
        padding: 0 20px;
        align-items: center;
        .logo-title{
            margin-bottom: 60px;
            display: flex;
            align-items: center;
            h3{
                font-size: 32px;
                line-height: 38px;
                font-weight: 700;
                text-transform: uppercase;
                color: $fakeBlack;
            }
            .logo-green{
                margin-left: 15px;
                width: 120px;
            }
        }
        p{
            max-width: 800px;
            margin-bottom: 50px;
            font-size: 17px;
            line-height: 32px;
            text-align: center;
            color: $fakeBlack;
        }
        .button-container{
            width: 100%;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            .button-link{
                transition: all 400ms ease;
                color: $fakeBlack;
                text-decoration: underline;
                font-size: 15px;
                line-height: 26px;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                &:hover, &:active{
                    text-decoration: none;
                }
            }
        }
    }
}


.big { 
    grid-area: big;
    background-image: url(../img/realizace/1.jpg);
 }
.small1 { 
    grid-area: small1;
    background-image: url(../img/realizace/2.jpg);
}
.small2 { 
    grid-area: small2;
    background-image: url(../img/realizace/3.jpg);
}
.small3 { 
    grid-area: small3;
    background-image: url(../img/realizace/4.jpg);
}
.small4 { 
    grid-area: small4;
    background-image: url(../img/realizace/5.jpg);
}

.big-2 {
    background-image: url(../img/realizace2/nahled1.jpg);
 }
.small1-2 {
    background-image: url(../img/realizace2/nahled2.jpg);
}
.small2-2 {
    background-image: url(../img/realizace2/nahled3.jpg);
}
.small3-2 { 
    background-image: url(../img/realizace2/nahled4.jpg);
}
.small4-2 { 
    background-image: url(../img/realizace2/nahled5.jpg);
}

.gallery{
    width: 100%;
    #lightgallery, #lightgallery-rel{
        width: 100%;
        height: 430px;
        display: grid;
        grid-template-areas:
          'big big small1 small2'
          'big big small3 small4';
        grid-gap: 10px;
        background-color: $white;
        .photo{
            position: relative;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            img{
                display: none;
            }
            .photo-hover{
                background-color: rgba(0, 0, 0, 0.1);
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: background-color 0.15s ease 0s;
                .circle{
                    height: 90px;
                    width: 90px;
                    background-color: white;
                    border-radius: 180px;
                    left: 50%;
                    margin-left: -45px;
                    margin-top: -45px;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    transition: opacity 0.3s ease 0s;
                    img{
                        display: block;
                        left: 50%;
                        margin-left: -15px;
                        margin-top: -15px;
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        transition: opacity 0.3s ease 0s;
                    }
                }
            }
            &:hover, &:active{
                .photo-hover{
                    background-color: rgba(255,255,255,0.3);
                    .circle{
                        opacity: 1;
                        img{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.gallery{
    #lightgallery-rel{
        .photo{
            background-position: 0px 0px;
            background-size: cover;
        }
    }
}

@media only screen and (max-width: 991px){
    .realization{
        padding: 100px 0;
        .container-realization{
            .button-container{
                margin-top: 50px;
            }
        }
    }
}

@media only screen and (max-width: 767px){
    .realization{
        padding: 70px 0;
        .container-realization{
            .logo-title{
                flex-direction: column;
                h3{
                    font-size: 26px;
                    line-height: 30px;
                    margin-bottom: 10px;
                }
                .logo-green{
                    margin-left: 0px;
                    width: 100px;
                }
            }
            p{
                margin-bottom: 40px;
                font-size: 15px;
                line-height: 26px;
            }
            .button-container{
                margin-top: 40px;
                .button-link{
                }
            }
        }
    }
    
    
    .big {
        height: 400px;
     }
    .small1, .small2, .small3, .small4 {
        height: 210px;
    }
    
    .gallery{
        #lightgallery, #lightgallery-rel{
            display: grid;
            grid-template-areas:
              'big big'
              'big big'
              'small1 small2'
              'small3 small4';            
            height: auto;
            max-width: 600px;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 479px){
    .realization{
        padding: 50px 0;
    }
    
    .big {
        height: 260px;
     }
    .small1, .small2, .small3, .small4 {
        height: 150px;
    }
}